.SkillContent {
  padding: 20px;
  background-color: white;
  border: 5px;
  width: 500px;
  transition: transform, box-shadow 0.6s ease-in-out;

  .heading {
    text-align: center;
    margin-bottom: 25px;
  }

  .skill_box {
    display: flex;
    flex-wrap: wrap;
    flex: row;
    justify-content: center;

    .skill_group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .skill_data {
      display: flex;
      background-color: wheat;
      padding: 5px;
      margin-bottom: 10px;
      width: 130px;
      height: 55px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.SkillContent:hover {
  transform: scale(1.008);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
