.wrapper {
  margin: 100px;

  .heading {
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
  }
  .container {
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    display: flex;

    > div {
      flex: 1;
    }
    .center {
      justify-content: center;
    }

    .leftside {
      display: flex;

      gap: 2rem;
    }

    .rightside {
      @media (max-width) {
        text-align: center;
      }

      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
    }
  }
}
